pip install -U asgiref==3.5.2
pip install -U astroid==2.3.3
pip install -U atomicwrites==1.3.0
pip install -U attrs==19.3.0
pip install -U autobahn==21.2.1
pip install -U Automat==20.2.0
pip install -U autopep8==1.4.4
pip install -U CacheControl==0.12.11
pip install -U cachetools==4.2.4
pip install -U certifi==2019.9.11
pip install -U cffi==1.15.0
pip install -U channels==3.0.4
pip install -U chardet==3.0.4
pip install -U charset-normalizer==2.0.12
pip install -U ChatterBot==1.0.0
pip install -U chatterbot-corpus==1.2.0
pip install -U choices==0.1
pip install -U click==8.0.4
pip install -U colorama==0.4.1
pip install -U constantly==15.1.0
pip install -U cryptography==37.0.2
pip install -U CurrencyConverter==0.16.12
pip install -U daphne==3.0.2
pip install -U defusedxml==0.6.0
pip install -U Django==2.2.7
pip install -U django-allauth==0.40.0
pip install -U django-cors-headers==3.8.0
pip install -U django-crispy-forms==1.9.1
pip install -U django-rest-auth==0.9.5
pip install -U django-sslserver==0.22
pip install -U djangorestframework==3.10.3
pip install -U et-xmlfile==1.1.0
pip install -U firebase-admin==5.2.0
pip install -U forex-python==1.8
pip install -U google-api-core==2.8.2
pip install -U google-api-python-client==2.51.0
pip install -U google-auth==2.8.0
pip install -U google-auth-httplib2==0.1.0
pip install -U google-cloud-core==2.3.1
pip install -U google-cloud-firestore==2.5.3
pip install -U google-cloud-storage==2.0.0
pip install -U google-crc32c==1.3.0
pip install -U google-resumable-media==2.3.3
pip install -U googleapis-common-protos==1.56.2
pip install -U grpcio==1.46.3
pip install -U grpcio-status==1.46.3
pip install -U httplib2==0.20.4
pip install -U hyperlink==21.0.0
pip install -U idna==2.8
pip install -U imutils==0.5.4
pip install -U incremental==21.3.0
pip install -U isort==4.3.21
pip install -U joblib==1.1.0
pip install -U lazy-object-proxy==1.4.3
pip install -U mathparse==0.1.2
pip install -U mccabe==0.6.1
pip install -U more-itertools==7.2.0
pip install -U msgpack==1.0.4
pip install -U mysqlclient==2.1.0
pip install -U nltk==3.6.7
pip install -U numpy==1.22.3
pip install -U oauthlib==3.1.0
pip install -U opencv-python==4.5.5.64
pip install -U openexchangerates==0.1.1
pip install -U openpyxl==3.0.10
pip install -U packaging==19.2
pip install -U pandas
pip install -U Pillow
pip install -U Pint==0.17
pip install -U pluggy==0.13.0
pip install -U proto-plus==1.20.6
pip install -U protobuf==3.19.4
pip install -U py==1.8.0
pip install -U pyasn1==0.4.8
pip install -U pyasn1-modules==0.2.8
pip install -U pycodestyle==2.5.0
pip install -U pycparser==2.20
pip install -U pyfcm==1.4.7
pip install -U PyJWT==2.4.0
pip install -U pylint==2.4.4
pip install -U pymongo==3.12.3
pip install -U pyOpenSSL==22.0.0
pip install -U pyparsing==2.4.5
pip install -U pytest==5.2.4
pip install -U python-dateutil==2.7.5
pip install -U python3-openid==3.1.0
pip install -U pytz==2022.1
pip install -U pyvips==2.1.15
pip install -U PyYAML==3.13
pip install -U regex==2022.4.24
pip install -U requests==2.22.0
pip install -U requests-oauthlib==1.3.0
pip install -U reverse==0.1.0
pip install -U rsa==4.8
pip install -U save==0.1
pip install -U service-identity==21.1.0
pip install -U simplejson==3.17.6
pip install -U six==1.13.0
pip install -U SQLAlchemy==1.2.19
pip install -U sqlparse==0.3.0
pip install -U tqdm==4.64.0
pip install -U twilio==3.0.0
pip install -U Twisted==22.4.0
pip install -U twisted-iocpsupport==1.0.2
pip install -U txaio==22.2.1
pip install -U typing_extensions==4.1.1
pip install -U uritemplate==4.1.1
pip install -U urllib3==1.25.7
pip install -U wcwidth==0.1.7
pip install -U wrapt==1.11.2
pip install -U zope.interface==5.4.0
pip install -U gunicorn